Django==2.2.3
dj_static==0.0.6
django-appconf==1.0.3
psycopg2-binary==2.8.4
dj-database-url==0.5.0
django-contrib-comments==1.9.1
django-crispy-forms==1.7.2
django-debug-toolbar==2.0
django-impersonate==1.4.1
django-js-asset==1.2.2
django-reversion==3.0.4
django-select2==7.1.0
gunicorn==19.9.0
httplib2==0.12.3
Pillow==6.1.0
psycopg2==2.8.3
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycares==3.0.0
pycparser==2.19
pyOpenSSL==19.0.0
pytz==2019.1
sqlparse==0.3.0
django_heroku==0.3.1
