{% extends 'base.html' %}

{% block title %}Dashboard - Arab Coding Community{% endblock %}
{% block header_title %}Dashboard{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Pending Registrations</h1>
  {% for reg in regs %}
  <hr class="my-4">
  <p class="lead">{{ reg.email }} ({{ reg.user.username }}) <a class="btn btn-primary btn-lg" href="{% url 'check_reg' reg.pk %}" role="button">Learn more</a></p>
  <hr class="my-4">
  {% empty %}
  <hr class="my-4">
  <p class="lead">No Pending Registration</p>
  {% endfor %}
</div>
<div class="jumbotron bg-dark text-light">
  <h1 class="display-4">Contact Request</h1>
  {% for con in cons %}
  <hr class="my-4 bg-light">
  <p class="lead">{{ con.user.email }} <a class="btn btn-primary btn-lg" href="{% url 'check_con' con.pk %}" role="button">Learn more</a></p>
  <hr class="my-4 bg-light">
  {% empty %}
  <hr class="my-4">
  <p class="lead">No Pending Registration</p>
  {% endfor %}
</div>
{% endblock %}
