{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password - Arab Coding Community{% endblock %}
{% block header_title %}Reset Password{% endblock %}
{% block header_desc %}We are sorry that you are experiencing issues in logging in, but don't worry we will make it easier for you to come back :){% endblock %}
{% block header_extra %}Don't have an account ? <a href="{% url 'account_register' %}">Register</a> Here{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}
